body{
    font-family: sans-serif;
    background-color: beige;
}
article{
    color: brown;
    margin: 20px 200px;
    max-width: 1100px;
    min-height: 500px;
    border: 1px brown solid;
    box-shadow: 0 0 10px brown;
    padding: 10px;
}
header{
    background-color: brown;
}
header::after{
    content: '';
    display:table;
    clear: both;
} /*clears header dissapearing issue*/
.logo{
    float:left;
    padding-left: 8px;
} /*logo align left*/
nav{
    float:right
} /*nav menu align right*/
nav ul{
    margin:  0;
    padding: 0;
    list-style: none;
} /*header list tidying*/
nav li{
    display: inline-block;
    margin: 0 90px;
    padding-top: 43px;
} /*header item positioning*/
nav a{
    color: beige;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold ;
} /*header item styling*/
nav a:hover{
    color: gold;
} /*header item hover behaviour*/
.category{
    font-weight: bold;
    list-style: none;
}
.item{
    margin-left: 20px;
}
.recipe img{
    float: right;
}
.nutrition{
position: absolute;
}
.cheeseburger{
    min-height: 950px;
}
.hummus{
    min-height: 530px;
}
.cookie{
    min-height: 590px;
}